

export const tableOption = {
  border: true,
  index: true,
  indexLabel: '序号',
  stripe: true,
  menuAlign: 'center',
  align: 'center',
  editBtn: false,
  delBtn: false,
  addBtn: false,
  column: [
#foreach ($column in $columns)
	  {
      label: '$column.comments',
      prop: '$column.lowerAttrName'
    },
#end
  ]
}
