
package ${package}.${moduleName}.mapper;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import ${package}.${moduleName}.entity.${className};
import org.apache.ibatis.annotations.Param;

/**
 * ${comments}
 *
 * @author renzl ${author}
 * @date ${datetime}
 */
public interface ${className}Mapper extends BaseMapper<${className}> {
  /**
    * ${comments}简单分页查询
    * @param ${classname} ${comments}
    * @return
    */
  IPage<${className}> get${className}Page(Page page, @Param("${classname}") ${className} ${classname});


}
