
package ${package}.${moduleName}.service;

import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.extension.service.IService;
import ${package}.${moduleName}.entity.${className};

/**
 * ${comments}
 *
 * @author renzl ${author}
 * @date ${datetime}
 */
public interface ${className}Service extends IService<${className}> {

  /**
   * ${comments}简单分页查询
   * @param ${classname} ${comments}
   * @return
   */
  IPage<${className}> get${className}Page(Page<${className}> page, ${className} ${classname});


}
